* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 1px;
}
.gap {
  height: 200px;
}
.box {
  padding-left: 10px;
  display: flex;
  border: 2px solid red;
  vertical-align: middle;
  align-items: center;
}

.grid-container--fill {
  display: grid;
  grid-gap: 20px;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-container--fit {
  display: grid;
  grid-gap: 20px;
  margin: auto;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
