* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 1px;
}
body {
  margin: 0px;
  padding: 0px;
}
html {
  background-color: #33485e;
}

.nav-menu > * {
  background-color: white;
  color: #3498db;
}
.nav-menu {
  box-shadow: 0px -2px 2px #3498db;
  width: 100vw;
  height: 40px;
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.card-layout {
  text-align: center;
  color: white;
}

.grid-container > * {
  background-color: #33485e;
  margin-top: -20px;
}

.box {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px -2px 1px #3498db;
}

p {
  font-size: 16px;
  color: #33485e;
}

h3 {
  margin: 5px;
  margin-left: 0;
  color: #33485e;
}

@media only screen and (max-width: 501px) {
}

@media only screen and (min-width: 501px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    height: 80vw;
    width: 100vw;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
