* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 1px;
}
body {
  margin: 20px;
}
html {
  background-color: #33485e;
}

.grid-container > * {
  padding: 10px;
  background-color: white;
}
.nav-menu > * {
  background-color: white;
  color: #3498db;
}
.nav-menu {
  width: 100vw;
  height: 40px;
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.card-layout {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 501px) {
}

@media only screen and (min-width: 501px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
